
#headers{
    color:aquamarine;
    background-color: black;
}


#navee{
    background-color:black;
}
#aboutone{
    color:aquamarine;
}
#resume{
    color: aquamarine;
}
#contacts{
    color:aquamarine;
}
#toggler{
    color:#FFFFFF;
}
#navbar{
    background-color:black;
}
#button{
     color:#18d26e;
     background-color:#18d26e;
}
#sectionone{
    background-color:rgb(0, 0, 0);
    color:#18d26e;
}
#section{
    padding-top: 40px;
}
#sectiontwo{
    background-color:black;
    color:#18d26e;
    padding-top: 30px;
}
.fontss{
    color: #FFFFFF;
}
#sectionthree{
    background-color: black;
    color: #18d26e;
    padding-top: 30px;
}